{{ $ := .root }}
{{ $page := .page }}

<!-- Custom widget -->
<div class="row">
  {{ if $page.Title }}
  <div class="col-xs-12 col-md-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
    <p class="view-all">
      <a href="{{ "/teaching/" | relLangURL }}">
        Past courses
        <i class="fa fa-angle-double-right"></i>
      </a>
    </p>  
  </div>

  <div class="col-xs-12 col-md-8">
      <!--<h1>Spring 2018</h1>  -->
      {{ $active_courses := (where (where $.Site.RegularPages "Type" "teaching") ".Params.active" true) }}
      {{ range $active_courses }}
        {{ partial "teaching" . }}
      {{end}}
      <!-- I should do something a bit fancier to automatically take the title of the most recent course -->
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}


  </div>
  {{ else }}
  <div class="col-md-12">
    {{ $page.Content }}
  </div>
  {{ end }}
</div>
